.App {
  text-align: center;
  display: flex;
  flex-direction: column;

}

.App-header {
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.Todo-list {
  text-align: left;
}

.List {
  list-style-type: none;
  margin: 0;
}