.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* .App {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
  background-color: var(--background);
  transition: all .5s;
}

button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  transition: all .5s;
} */

.App-header {
  font-size: calc(10px + 2vmin);
  color: #6200EE;
}

.Todo-list {
  text-align: left;
}

.List {
  list-style-type: none;
  margin: 5px;
}

.button {
  width: fit-content;
  border-color: #3700B3;
  background-color: white;
  color: #018786;
}

.bodyDarkMode {
  background-color: #121212;
  color: #BB86FC;
}

.buttonDarkMode {
  width: fit-content;
  border-color: #3700B3;
  background-color: #121212;
  color: #03DAC6;
}

.AppHeaderDarkMode {
  color: #BB86FC;
}