.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
  background-color: var(--background);
  transition: all .5s;
}

button, input[type="submit"] {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  font-size: 1.2rem;
  transition: all .5s;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.Todo-list {
  text-align: left;
}

.List {
  list-style-type: none;
  margin: 5px;
}