.item-title {
  width: 30%;
}

.item-due {
  width: 30%;
}

.button-cell {
  display: flex;
  justify-content: center;
}

.button {
  margin-left: 10px;
}

.dueDate {
  color: var(--text-secondary)
}

.confirm {
  font-size: 1rem;
}